
.modalText {
  color: var(--Black-20);
  font-size: 1.9rem;
  font-weight: 500;
  line-height: normal;
  margin-top: 8rem;
}

.modalBtn {
  background: var(--Violet-20);
  border-radius: 8px;
  padding: 1.4rem 4.6rem;
  color: var(--White);
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: normal;
  margin: 5rem 0 1.5rem;
}
