.buttonContainer {
  display: flex;
  margin-top: 2rem;
  margin-left: 1rem;
  gap: 0.6rem;
  cursor: pointer;
}

.buttonContainer p {
  color: var(--Black-20);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: normal;
}

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width: 480px) and (max-width: 767px) {
  .buttonContainer {
  }
}

/* 모바일 세로 (해상도 ~ 479px)*/
@media all and (max-width: 479px) {
  .buttonContainer {
    margin-top: 1.7rem;
  }

  .buttonContainer p {
    font-size: 1.4rem;
  }

  .backImg {
    width: 1.8rem;
    height: 1.8rem;
  }
}
