.cardWrapper {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;

  background-color: var(--White);
  border: 1px solid var(--Gray-20);
  border-radius: 6px;
}

.cardWrapper:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.cardTitle {
  font-size: 1.6rem;
  font-weight: 700;
}

.cardTag {
  width: fit-content;
  padding: 0.5rem;
  background-color: var(--Violet-20);
  color: var(--Violet-10);
  border-radius: 10px;
}

.tagWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.createdAt {
  font-size: 1.2rem;
  font-weight: 700;
}

.orange {
  background-color: var(--Orange);
}

.blue {
  background-color: var(--Blue);
}

.purple {
  background-color: var(--Purple);
}

.green {
  background-color: var(--Green);
}
