html {
  --White: #ffffff;
  --Red: #d6173a;
  --Green: #7ac555;
  --Purple: #760dde;
  --Orange: #ffa500;
  --Blue: #76a5ea;
  --Pink: #e876ea;

  --Gray-10: #eeeeee;
  --Gray-20: #d9d9d9;
  --Gray-30: #9fa6b2;
  --Gray-40: #787486;

  --Black-10: #4b4b4b;
  --Black-20: #333236;
  --Black-30: #171717;
  --Black-40: #000000;

  --Violet-10: #f1effd;
  --Violet-20: #5534da;
}
