.buttonContainer {
  display: flex;
  margin-top: 2rem;
  margin-left: 32rem;
  gap: 0.6rem;
  cursor: pointer;
}

.buttonContainer p {
  color: var(--Black-20);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: normal;
}
