.dashboardContainer {
  display: flex;
  align-items: center;
  height: 4.5rem;
  color: var(--Gray-40);
  font-size: 1.8rem;
  font-weight: 500;
  border-radius: 8px;
  padding: 0 1.4rem;
  position: relative;
}

.clicked {
  background-color: var(--Violet-10);
}

.dashboardContainer span {
  margin-right: 0.8rem;
}

.circle {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  margin-right: 1.8rem;
}

.click {
  font-size: 3rem;
  font-weight: 150;
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
}


.pageBtn {
  position: fixed;
  margin-top: 1.2rem;
  display: flex;
  bottom: 2rem;
  left: 12.5rem;
}

.pageBtn button {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--White);
  border: 1px solid var(--Gray-20);
  font-size: 1.7rem;
  border-radius: 8px;
}

.open {
  color: var(--Black-10);
}

.open:hover {
  background-color: var(--Violet-10);
}

.close {
  color: var(--Gray-20);
  cursor: default;
}