.modalOverlay {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalWrapper {
  background-color: var(--White);
  width: 65rem;
  height: 65rem;
  border: 1px solid var(--Gray-20);
  border-radius: 8px;
  padding: 2.8rem;
  display: flex;
  justify-content: space-between;
}

.colSection1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 70%;
  overflow-wrap: break-word;
  padding-right: 4rem;
}

.cardTitle {
  font-size: 2rem;
  font-weight: 700;
}

.cardTags {
  display: flex;
  gap: 1rem;
}

.columnTitle {
  background-color: var(--Violet-10);
  padding: 3px;
  color: var(--Violet-20);
  border-radius: 8px;
}

.tags {
  background-color: var(--Violet-10);
  padding: 3px;
  color: var(--Violet-20);
  border-radius: 8px;
}

.vr {
  width: 1px;
  background-color: var(--Gray-20);
}

.cardDescription {
  font-size: 1.3rem;
  font-weight: 600;
}

.colSection2 {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.colSection2 button {
  background-color: transparent;
}

.tools {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
}

.kebab-off {
  display: none;
}

.kebab {
  position: relative;
}

.kebabMenu li {
  width: 6rem;
  font-size: 1.3rem;
  text-align: center;
}

.kebabMenu li:hover {
  background-color: var(--Violet-10);
  color: var(--Violet-20);
  cursor: pointer;
}

.kebabMenu {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  position: absolute;
  right: 2.5rem;
  top: 2.8rem;
  background-color: var(--White);
  border: 1px solid var(--Gray-10);
  border-radius: 8px;
  padding: 0.5rem;
}

.cardPreview {
  width: 100%;
  border: 1px solid var(--Gray-20);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

.manager {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.managerProfile {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.cardPreview p {
  font-weight: 700;
}

.cardPreview span {
  font-size: 1.2rem;
  font-weight: 700;
}
