.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem 1rem 0;
  width: 30rem;
  height: 100vh;
  background-color: var(--White);
  border-right: 1px solid var(--Gray-20);
  z-index: 1001;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3.8rem 1.4rem 1.8rem;
  color: var(--Gray-40);
  font-size: 12px;
  font-weight: 700;
}

.cursorPointer {
  cursor: pointer;
}

.hover > div:hover {
  background-color: var(--Violet-10);
  cursor: pointer;
}

.pageBtn {
  position: fixed;
  margin-top: 1.2rem;
  display: flex;
  bottom: 2rem;
  left: 12.5rem;
}

.pageBtn button {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--White);
  border: 1px solid var(--Gray-20);
  font-size: 1.7rem;
  border-radius: 8px;
}

.open {
  color: var(--Black-10);
}

.open:hover {
  background-color: var(--Violet-10);
}

.close {
  color: var(--Gray-20);
  cursor: default;
}