.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cancelButton {
  border-radius: 0.4rem;
  color: var(--button-primary-text-color);
  background-color: var(--button-secondary-bg);
  cursor: pointer;
}

.line {
  width: 100%;
  height: 1px;
  stroke: #eeeeee;
}
