.main {
  background-color: var(--Black-40);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 9.4rem 0 16rem;
  height: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4.8rem;
}

.section button {
  width: 28rem;
  height: 5rem;
  padding: 1.5rem;
  background-color: var(--Violet-20);
  color: var(--White);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 8px;
  margin-top: 1.8rem;
}

.section button:hover {
  background-color: var(--Purple);
}

.text {
  display: flex;
  align-items: center;
  gap: 2.8rem;
}

.text p {
  color: var(--White);
  font-size: 7.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 10rem;
  letter-spacing: -0.2rem;
}

.description {
  color: var(--White);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.1rem;
  text-align: center;
  margin-top: 2.4rem;
}

.card {
  margin-top: 18.4rem;
}

.cardContainer {
  position: relative;
  width: 120rem;
  height: 60rem;
  border-radius: 8px;
  background-color: var(--Black-30);
  display: flex;
  justify-content: space-between;
  margin-bottom: 9rem;
}

.imageFirst {
  flex-direction: row-reverse;
}

.cardText {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  margin-top: 12.3rem;
  margin-bottom: 22.3rem;
}

.cardText p {
  color: var(--Gray-30);
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.cardText h2 {
  color: var(--White);
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 6.4rem;
}

.firstCard {
  padding-left: 6rem;
}

.secondCard {
  padding-right: 32.6rem;
}

.firstCardImg {
  position: absolute;
  bottom: 0;
  right: 0;
}

.secondCardImg {
  position: absolute;
  bottom: 0;
  left: 10.8rem;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
}

.article h3 {
  color: var(--White);
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.articleContainer {
  display: flex;
  gap: 3.3rem;
}

.articleCard {
  display: flex;
  flex-direction: column;
}

.articleImgContainer {
  width: 37.8rem;
  height: 26rem;
  background-color: var(--Black-10);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.articleTextContainer {
  width: 37.8rem;
  height: 12.4rem;
  background-color: var(--Black-30);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 3.3rem 3.2rem;
}

.articleTextContainer h5 {
  color: var(--White);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 1.8rem;
}

.articleTextContainer p {
  color: var(--White);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width: 480px) and (max-width: 767px) {
  .sectionImg {
    width: 53.7rem;
    height: 31.5rem;
  }

  .text {
    gap: 2.4rem;
  }

  .text p {
    font-size: 5.6rem;
  }

  .taskifyImg {
    width: 25.3rem;
    height: 7rem;
  }

  .description {
    font-size: 1.6rem;
  }

  .cardContainer {
    width: 66.4rem;
    height: 97.2rem;
    flex-direction: column;
  }

  .secondCard {
    padding-left: 6rem;
  }

  .firstCardImg {
    width: 52rem;
    height: 43.5rem;
  }

  .secondCardImg {
    width: 36rem;
    height: 41.5rem;
    left: 15.2rem;
  }

  .article {
    justify-content: center;
    align-items: center;
    gap: 4.8rem;
  }

  .articleContainer {
    flex-direction: column;
  }
}

/* 모바일 세로 (해상도 ~ 479px)*/
@media all and (max-width: 479px) {
  .main {
    padding: 4.2rem 0 12rem;
  }

  .section {
    gap: 2.6rem;
  }

  .sectionImg {
    width: 28.7rem;
    height: 16.8rem;
  }

  .text {
    flex-direction: column;
    gap: 0.5rem;
  }

  .text p {
    font-size: 4rem;
    line-height: normal;
  }

  .taskifyImg {
    width: 15rem;
    height: 5rem;
  }

  .description {
    margin-top: 1.8rem;
    font-size: 1.2rem;
  }

  .section button {
    width: 23.5rem;
    height: 4.2rem;
    font-size: 1.4rem;
    margin-top: 4.4rem;
  }

  .card {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cardContainer {
    width: 34.3rem;
    height: 68.6rem;
    gap: 19.3rem;
    flex-direction: column;
  }

  .cardText {
    justify-content: center;
    align-items: center;
    gap: 6rem;
    margin-bottom: 19.4rem;
    margin-top: 6rem;
  }

  .cardText p {
    font-size: 1.8rem;
  }

  .cardText h2 {
    font-size: 3.6rem;
  }

  .firstCard {
    padding-left: 0;
    align-items: center;
    justify-content: center;
  }

  .secondCard {
    padding-right: 0;
    align-items: center;
    justify-content: center;
  }

  .firstCardImg {
    width: 29.6rem;
    height: 24.8rem;
  }

  .secondCardImg {
    width: 21.7rem;
    height: 25rem;
    left: 6.3rem;
  }

  .article {
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }

  .articleContainer {
    flex-direction: column;
  }

  .articleImgContainer {
    width: 34.3rem;
    height: 23.6rem;
  }

  .articleTextContainer {
    width: 34.3rem;
    height: 11.3rem;
  }
}
