.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.3rem;
}

.gridContainer > div {
  width: 33rem;
  height: 7rem;
  border: 1px solid var(--Gray-20);
  border-radius: 8px;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--Black-20);
  padding: 0 2rem;
}

.addDashboard {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageBtn {
  margin-top: 1.2rem;
  display: flex;
  justify-content: end;
}

.pageBtn button {
  width: 4rem;
  height: 4rem;
  background-color: var(--White);
  border: 1px solid var(--Gray-20);
  font-size: 2rem;
  border-radius: 8px;
}

.open {
  color: var(--Black-10);
}

.close {
  color: var(--Gray-20);
  cursor: default;
}

.pageDisplay {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  margin-right: 2.5rem;
}
