.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.3rem;
}

.gridContainer > div {
  width: 33rem;
  height: 7rem;
  border: 1px solid var(--Gray-20);
  border-radius: 8px;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--Black-20);
  padding: 0 2rem;
  background-color: var(--White);
}

.gridContainer > div:hover {
  background-color: var(--Violet-10);
  cursor: pointer;
}

.addDashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.pageBtn {
  margin-top: 1.2rem;
  display: flex;
  justify-content: end;
}

.pageBtn button {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--White);
  border: 1px solid var(--Gray-20);
  font-size: 1.7rem;
  border-radius: 8px;
}

.open {
  color: var(--Black-10);
}

.open:hover {
  background-color: var(--Violet-10);
}

.close {
  color: var(--Gray-20);
  cursor: default;
}

.pageDisplay {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  margin-right: 2.5rem;
}
